/* Basic stylesheet for fnfnen */
/* Structure  {{{1*/

*
{
  margin: 0;
  padding: 0;
}

body
{
  background-color: #eee;
  color: #000;
}


#console
{
  margin: 1em 2em;
}
#console #tweet_box
{
  font-size: medium;
  width: 80%;
}
#information_bar
{
  margin: 1em 2em;
}


#tweet_content_counter
{
  padding: 0 0.5ex;
}


#column_home
{
  border: 1em solid;
  padding: 0 1em;
}


.tweet-hub
{
  border-top: 1ex solid;
  margin: 1em 0;
  padding-top: 1em;
}


.tweet {padding: 0.25ex;}
.tweet .posted_time {font-size: 80%;}
.tweet .posted_time,
.tweet .text {margin: 0 1ex;}
.tweet .user_icon {display: none;}

.tweet .button
{
  border: thin solid;
  font-size: 64%;
  padding: 0 0.5ex;
}
.tweet .button:active,
.tweet .button:focus,
.tweet .button:hover
{
  border: thin solid;
}




/* Decoration  {{{1*/

#console #tweet_box {font-family: sans-serif;}


.tweet .screen_name {font-weight: bolder; text-decoration: none;}
.tweet .text .screen_name {font-weight: normal;}

.tweet .button {font-weight: bolder; text-decoration: none;}


#tweet_content_counter {font-weight: bolder;}




/* Color  {{{1*/

#column_home {border-color: #ddd;}


.tweet-hub {border-color: #ddd;}

.tweet {}
.tweet.mention {background-color: #fed;}
.tweet.mine {background-color: #efe;}

.tweet .posted_time {color: #666;}
.tweet .screen_name {color: #000;}
.tweet .text .screen_name {color: #00f;}

.tweet .button {background-color: #666; border-color: #ccc; color: #fff;}
.tweet .button:active,
.tweet .button:focus,
.tweet .button:hover {background-color: #ff3; border-color: #990; color: #000;}


#tweet_content_counter {color: #fff;}
#tweet_content_counter,
#tweet_content_counter.no-content {background-color: #333;}
#tweet_content_counter.some-content {background-color: #666;}
#tweet_content_counter.full-content {background-color: #f90;}
#tweet_content_counter.much-content {background-color: #f00;}




/* __END__ {{{1*/
/* vim: foldmethod=marker
 */
