/* Basic stylesheet for fnfnen */

/* FIXME: Rewrite a proper stylesheet.  The following is just for a test. */

body {
  background-color: #eee;
}

.tweet-hub {
  margin: 1em auto;
  border-bottom: thin gray solid;
  padding-bottom: 1ex;
  background-color: #ddd;
}

.tweet {
  background-color: #eee;
}

.tweet.mine {background-color: #efe;}

#tweet_content_counter {font-weight: bolder;  padding: 0 0.5ex;}
#tweet_content_counter.no-content {color: #fff;  background-color: #333;}
#tweet_content_counter.some-content {color: #fff;  background-color: #666;}
#tweet_content_counter.full-content {color: #fff;  background-color: #f90;}
#tweet_content_counter.much-content {color: #fff;  background-color: #f00;}

/* __END__ */
